body{
    background-color: black;
    color:white;
    font-family:sans-serif;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    border-bottom: 2px solid white;
}
#header-items{
    display: flex;
    justify-content: space-between;
}
#header-items p{
    padding-left: 20px;
    padding-right: 20px;
}
#container{
    width:70%;
    margin:0 auto;
    margin-top:5rem;
}
#container h1{
    font-size: 50px;
}
#signup-form input{
    background-color: black;
    color:white;
    font-size: 20px;
    padding:5px;
    border:none;
    border-bottom:1px solid white;
    width:100%;
    margin-bottom: 2rem;
}
button{
    margin-top: 2rem;
    padding:1rem 4rem;
    font-size: x-large;
}
#signup-form p{
    font-size: x-large;
}